/*===============================
=            PALETTE            =
===============================*/

$primary-dark: #0288D1;
$primary: #03A9F4;
$primary-light: #B3E5FC;
$text-icons: #FFFFFF;
$accent: #009688;
$text-primary: #212121;
$text-secondary: #727272;
$divider: #B6B6B6;
$display: 'Lato';
$type: 'Roboto';

/*===============================
=            TOP BAR            =
===============================*/

.top-bar {
  height: 60px;
  background-color: $primary-dark !important;
}

.menu-button {
  height: 60px;
  padding: 0;
  margin: 0;
}

.logo-container {
  padding: 10px;
}

.title {
  font: 30px $display;
  color: $text-icons;
  padding-left: 10px;
}

/*===============================
=            SIDENAV            =
===============================*/

.logo-container {
  background-color: $primary !important;
}

.logo-text {
  font: 30px $display;
}

md-list {
  padding: 0 !important;
}

.sidenav {
  background-color: $primary;
}

.nav-icon {
  font-size: 25px;
  color: $text-icons;
}

.nav-hamburger {
  font-size: 45px;
  color: $text-icons;
  padding-top: 7px;
}

.nav-link {
  text-decoration: none;
}

.nav-item {
  font: 26px $display;
  color: $text-icons;
}

.active {
  background-color: $primary-light;
}

/*==============================================
=            TURTLE TIME CALCULATOR            =
==============================================*/

.turtle-content {
  width: 100%;
  display: inline-block;
}

.timezone {
  margin: 20px 0 10px 0;
  font: 20px $type;
}

.digit-input-container {
  margin-top: 0px;
}

.digit-label {
  top: 0;
}

.digit-input {
  width: 120px !important;
  line-height: 78px !important;
  height: 63px !important;
  font-size: 30px;
  text-align: center;
}

.turtle-options {
  height: 150px;
}

.vertical-divider {
  border-left:1px solid #38546d; 
  border-right:1px solid #16222c; 
  height: 80%;
}

.version-options {
  padding: 11px 20px 0 0px;
}

.turtle-version {
  padding-left: 40px;
}

.notif-options {
  padding-left: 20px;

  md-switch {
    line-height: 17px !important;
  }
}

.notif-switch {
  white-space: normal !important;
}

.turtle-item {
  padding: 4px 8px;

  &:nth-child(odd) {
    background-color: #eee;
  }
}

.turtle-date {
  font: 20px $type;
}

.turtle-time {
  font: 20px $type;
}

.turtle-card {
  width: 75vw;
  height: 540px;
}

.turtle-list {
  width: 100%;
}

@media (min-width: 960px) {
  .timezone {
    font-size: 40px;
  }

  .digit-input {
    width: 120px !important;
    font-size: 32px;
  }

  .turtle-card {
    width: 55vw;
    height: 470px;
  }

  .turtle-date {
    font-size: 28px;
  }

  .turtle-time {
    font-size: 28px;
  }
}

/*=======================================
=            BARREL BREAKING            =
=======================================*/

.barrel-table-header {
  font-family: $type;
  font-size: 20px !important;
}

.barrel-table-item {
  font-family: $type;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-size: 16px !important;
}

.hours-checkbox {
  margin-left: 20px !important;
  margin-top: 14px;
}

@media (min-width: 960px) {
  .barrel-table-header {
    font-size: 30px !important;
  }

  .barrel-table-item {
    font-size: 25px !important;
  }
}

/*==============================
=            EVENTS            =
==============================*/

.event-table-header {
  padding: 0 5px !important;
  font-size: 14px !important;
}


.event-table-item {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 14px !important;
}


@media (min-width: 960px) {
  .event-table-header {
    font-size: 30px !important;
  }

  .event-table-item {
    font-size: 25px !important;
  }
}

/*================================
=            SETTINGS            =
================================*/

.settings-label {
  font-family: $display;
  margin-right: 13px;
}

.settings-language {
  padding-top: 15px;
}

.language-input {
  margin-top: 3px !important;
}

.minutes-input {
  height: 45px !important;
  text-align: center;
  font-size: 30px;
}

.minutes-label {
  top: -10px;
}

@media (min-width: 960px) {
  .settings-label {
    font: 30px $display;
  }

  .language-input {
    margin-bottom: -15px;
  }
}

/*=============================
=            ADMIN            =
=============================*/

.md-datepicker-calendar-pane {
  background-color: #FFF;
}

.section-header {
  font: $display;
  font-size: 30px;
  padding: 20px 0;
}

.manager-options {
  padding-bottom: 10px;
}

.add-options {
  margin-left: 20px;
}

.manager-button {
  padding: 2px 10px;
}

.manager-datepicker {
  padding: 5px;
}

/*===============================
=            CONTACT            =
===============================*/

.contact-form {
  width: 95%;
}

.contact-container {
  margin-top: 5px !important;
}

.contact-radio-container {
  padding: 10px 0;
  label {
    margin-right: 20px;
  }
}

@media (min-width: 960px) {
  .contact-form {
    width: 60%;
  }
}