<md-content layout="column" flex layout-align="start center">
  <div layout="row" class="turtle-options" layout-align="center center">
    <md-radio-group ng-model="barrel.version" ng-change="barrel.updateVersion()" class="version-options">
      <md-radio-button value="global">GLOBAL</md-radio-button>
      <md-radio-button value="japan">JAPAN</md-radio-button>
    </md-radio-group>
    <div class="vertical-divider"></div>
    <md-checkbox ng-model="barrel.format" ng-change="barrel.showHours()" class="hours-checkbox">
      {{'BB_ALT' | translate}}
    </md-checkbox>
  </div>
  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column class="barrel-table-header">{{'BB_DATE' | translate}}</th>
          <th md-column class="barrel-table-header" ng-show="barrel.isLargeScreen()">{{'BB_WOODEN' | translate}}</th>
          <th md-column class="barrel-table-header">{{'BB_SILVER' | translate}}</th>
          <th md-column class="barrel-table-header">{{'BB_GOLD' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-auto-select ng-repeat="time in barrel.barrelTimes">
          <td md-cell class="barrel-table-item">
            <div layout="column">
              <div>{{time.date}}</div>
              <div ng-show="barrel.format">{{time.hourDisplay}}</div>
            </div>
          </td>
          <td md-cell class="barrel-table-item" ng-show="barrel.isLargeScreen()">{{time.woodDigits}}</td>
          <td md-cell class="barrel-table-item">{{time.silverDigits}}</td>
          <td md-cell class="barrel-table-item">{{time.goldDigits}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-content>